In [1]:
import warnings
import nltk
import pandas as pd 

from nltk.tokenize import word_tokenize
from nltk.stem import PorterStemmer
from nltk.stem import WordNetLemmatizer
from sklearn.feature_extraction.text import CountVectorizer,TfidfVectorizer
from gensim.models import Word2Vec, KeyedVectors
warnings.filterwarnings('ignore')

# stemming

In [2]:
word = ['change', "changing", 'change', 'changed']

In [3]:
word

['change', 'changing', 'change', 'changed']

In [4]:
#!pip install nltk

In [5]:
ps = PorterStemmer()

In [6]:
for w in word:
    print(ps.stem(w))

chang
chang
chang
chang

In [7]:
for w in word:
    print(w, ps.stem(w))

change chang
changing chang
change chang
changed chang

In [8]:
sen = 'I want to change the world if world changed my career by changing abcd'

In [9]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\amt\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [10]:
toke = word_tokenize(sen)

In [11]:
toke

['I',
 'want',
 'to',
 'change',
 'the',
 'world',
 'if',
 'world',
 'changed',
 'my',
 'career',
 'by',
 'changing',
 'abcd']

In [12]:
sen.split() #or we can split this using split fanction

['I',
 'want',
 'to',
 'change',
 'the',
 'world',
 'if',
 'world',
 'changed',
 'my',
 'career',
 'by',
 'changing',
 'abcd']

In [13]:
for w in toke:
    print(w, ps.stem(w))

I i
want want
to to
change chang
the the
world world
if if
world world
changed chang
my my
career career
by by
changing chang
abcd abcd

In [14]:
le= WordNetLemmatizer()

In [15]:
toke

['I',
 'want',
 'to',
 'change',
 'the',
 'world',
 'if',
 'world',
 'changed',
 'my',
 'career',
 'by',
 'changing',
 'abcd']

In [16]:
nltk.download('omw-1.4')

[nltk_data] Downloading package omw-1.4 to
[nltk_data]     C:\Users\amt\AppData\Roaming\nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

True

In [17]:
for w in toke:
    print(w , le.lemmatize(w))

I I
want want
to to
change change
the the
world world
if if
world world
changed changed
my my
career career
by by
changing changing
abcd abcd

In [18]:
le.lemmatize('changes')

'change'

# Text Vectorizer

In [19]:
df = pd.read_csv('data.csv')

In [20]:
df

                           test  class
0             I love Bangladesh      1
1  Could you give me an iphone?      0
2            Hello how are you?      1
3           I want to talk you.      1

# CountVectorizer

In [21]:
cv = CountVectorizer()

In [22]:
cv_x = cv.fit_transform(df['test'])

In [23]:
cv_x

<4x14 sparse matrix of type '<class 'numpy.int64'>'
	with 16 stored elements in Compressed Sparse Row format>

In [24]:
cv_x.toarray()

array([[0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0],
       [1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1],
       [0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1]], dtype=int64)

In [25]:
cv.get_feature_names()

['an',
 'are',
 'bangladesh',
 'could',
 'give',
 'hello',
 'how',
 'iphone',
 'love',
 'me',
 'talk',
 'to',
 'want',
 'you']

In [26]:
cv_df = pd.DataFrame(cv_x.toarray(), columns = cv.get_feature_names(), index = df['test'])

In [27]:
cv_df

,an,are,bangladesh,could,give,hello,how,iphone,love,me,talk,to,want,you
test,,,,,,,,,,,,,,
I love Bangladesh,0,0,1,0,0,0,0,0,1,0,0,0,0,0
Could you give me an iphone?,1,0,0,1,1,0,0,1,0,1,0,0,0,1
Hello how are you?,0,1,0,0,0,1,1,0,0,0,0,0,0,1
I want to talk you.,0,0,0,0,0,0,0,0,0,0,1,1,1,1

In [28]:
cv_df = pd.DataFrame(cv_x.toarray(), columns = cv.get_feature_names())

In [29]:
cv_df

,an,are,bangladesh,could,give,hello,how,iphone,love,me,talk,to,want,you
0,0,0,1,0,0,0,0,0,1,0,0,0,0,0
1,1,0,0,1,1,0,0,1,0,1,0,0,0,1
2,0,1,0,0,0,1,1,0,0,0,0,0,0,1
3,0,0,0,0,0,0,0,0,0,0,1,1,1,1

# TfidfVectorizer

In [30]:
tf = TfidfVectorizer()

In [31]:
tf_z = tf.fit_transform(df['test'])

In [32]:
tf_z

<4x14 sparse matrix of type '<class 'numpy.float64'>'
	with 16 stored elements in Compressed Sparse Row format>

In [33]:
cv_df = pd.DataFrame(tf_z.toarray(), columns = tf.get_feature_names(), index = df['test'])

In [34]:
cv_df

,an,are,bangladesh,could,give,hello,how,iphone,love,me,talk,to,want,you
test,,,,,,,,,,,,,,
I love Bangladesh,0.000000,0.000000,0.707107,0.000000,0.000000,0.000000,0.000000,0.000000,0.707107,0.000000,0.000000,0.000000,0.000000,0.000000
Could you give me an iphone?,0.430037,0.000000,0.000000,0.430037,0.430037,0.000000,0.000000,0.430037,0.000000,0.430037,0.000000,0.000000,0.000000,0.274487
Hello how are you?,0.000000,0.541736,0.000000,0.000000,0.000000,0.541736,0.541736,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.345783
I want to talk you.,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.541736,0.541736,0.541736,0.345783

In [35]:
#!pip install gensim

In [36]:
text_vector = [nltk.word_tokenize(test) for test in df['test']]
text_vector

[['I', 'love', 'Bangladesh'],
 ['Could', 'you', 'give', 'me', 'an', 'iphone', '?'],
 ['Hello', 'how', 'are', 'you', '?'],
 ['I', 'want', 'to', 'talk', 'you', '.']]

In [37]:
model = Word2Vec(text_vector, min_count=1)

In [38]:
model.wv.most_similar('want')

[('an', 0.17826786637306213),
 ('I', 0.16072483360767365),
 ('give', 0.10560770332813263),
 ('how', 0.09215974807739258),
 ('iphone', 0.048910051584243774),
 ('are', 0.02700837142765522),
 ('Could', 0.007729300297796726),
 ('you', -0.03771638125181198),
 ('.', -0.04552280902862549),
 ('talk', -0.0464920699596405)]