In [1]:
print('Hello world') # run = shift + enter

Hello world

In [2]:
#44

In [3]:
#d

# Python Basics

In [5]:
print('data science')

data science

In [7]:
type('data science')

str

In [8]:
type(2)

int

In [9]:
type(2.5)

float

In [10]:
type([3])

list

In [16]:
print('data science', 'ai', end=' ', sep=' + ') #shift+tab
print('data science')

data science + ai data science

In [17]:
3+5

8

In [18]:
print(3+5)

8

In [20]:
#from sklearn.linear_model import TAB

In [21]:
n = input()

data

In [22]:
n

'data'

In [25]:
n

'data'

In [27]:
N

NameError: name 'N' is not defined

In [28]:
VAR = 100

In [29]:
VAR

100

In [30]:
100var = 10

SyntaxError: invalid syntax (55155541.py, line 1)

In [31]:
bar100 = 100

In [32]:
bar100

100

In [33]:
_100var = 10

In [34]:
_100var

10

In [35]:
x = 100

In [36]:
X

NameError: name 'X' is not defined

In [37]:
nAmE = 'SHAHEENUR'

In [38]:
nAmE

'SHAHEENUR'

In [39]:
name

NameError: name 'name' is not defined

In [41]:
name

'shakil'

In [42]:
NAME

NameError: name 'NAME' is not defined

In [43]:
my name = 'ARKO'

SyntaxError: invalid syntax (2974163637.py, line 1)

In [44]:
my_name = 'ARKO'

In [45]:
my_name

'ARKO'

In [46]:
my-name = 'ARKO'

SyntaxError: cannot assign to operator (938027489.py, line 1)

In [48]:
my=10
name=20
my-name

-10

In [49]:
my$ = 10

SyntaxError: invalid syntax (1169731080.py, line 1)

In [50]:
import string

In [51]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [57]:
var_name = '!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [55]:
var_name

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [61]:
x = 10

In [62]:
x

10

In [66]:
x

30

In [67]:
x

30

In [63]:
y = 20
y

20

In [64]:
x = x+20

In [65]:
x

30

In [70]:
x = 10
x

10

In [71]:
x = 'data science is fun'

In [72]:
x

'data science is fun'

In [73]:
type(x)

str

In [78]:
x = '10'

In [79]:
x+2

TypeError: can only concatenate str (not "int") to str

In [80]:
type(x)

str

In [81]:
x

'10'

In [84]:
x=int(x)

In [85]:
x+2

12

In [86]:
x = [10,20,(10,20,100),{1,2,3,4}, True,1,2,'name']

In [87]:
x

[10, 20, (10, 20, 100), {1, 2, 3, 4}, True, 1, 2, 'name']

In [88]:
x,y,z = 100, 120, 30404

In [89]:
x

100

In [90]:
y

120

In [91]:
z

30404

In [92]:
x, y, z = 100, 120

ValueError: not enough values to unpack (expected 3, got 2)

In [93]:
x,y = 100, 120, 30404

ValueError: too many values to unpack (expected 2)

In [94]:
#multi variable name
jochim_hornegger = 'FAU President' # snake case

In [97]:
'''
this is multiple line comment.
"Amar Sonar Bangla" (Bengali: আমার সোনার বাংলা, lit. 
'My Golden Bengal', pronounced [amar ʃonar baŋla]) 
is the national anthem of Bangladesh.
'''
x = 1

In [98]:
def myfunc1():
    print(x)

In [99]:
def myfunc1():
    print(x)
myfunc1()

1

In [100]:
def myfunc1():
    y=1000 # local
    print(x)
myfunc1()

1

In [101]:
print(y)

120

In [102]:
def myfunc1():
    y=1000 # local
    print(x)
    print(y)
myfunc1()

1
1000

In [105]:
def myfunc1():
    global y
    y=44
    print('inside ',y)
myfunc1()

print('outside ', y)

inside  44
outside  44

In [108]:
x = [10,20,(10,20,100),{1,2,3,4}, True,1,2,'name']

In [106]:
str1 = 'data science'

In [107]:
import sys
sys.getsizeof(str1)

61

In [109]:
sys.getsizeof(x)

120

In [112]:
str1.upper()

'DATA SCIENCE'

In [113]:
str1.lower()

'data science'

In [114]:
l = 'I love Bangladesh, i live bangladesh'
l.lower()

'i love bangladesh, i live bangladesh'

In [115]:
l.split()

['I', 'love', 'Bangladesh,', 'i', 'live', 'bangladesh']

# Condition

In [116]:
x = 10
y = 200

if x>y:
    print('ok 1')

In [117]:
if x>y:
    print('ok 1')

if x>=y:
    print('ok 2')

In [119]:
if x>y:
    print('ok 1')

if x>=y:
    print('ok 2')
    
if y> x:
    print('ok 3')
    print(x+y)

ok 3
210

In [124]:
if x>y:
    print('ok 1')

if x>=y:
    print('ok 2')
    
if y> x:
    if x>25:
        print('ok 2.5')
    elif x>20:
        print('ok111')
    else:
        print('stop!')

stop!

In [125]:
print(1)

1

In [126]:
print(2)

2

In [127]:
range(10)

range(0, 10)

In [128]:
for x in range(10): #start from 0 and end in n-1
    print('x = ', x)

x =  0
x =  1
x =  2
x =  3
x =  4
x =  5
x =  6
x =  7
x =  8
x =  9

In [129]:
for x in range(80,100): #start from 0 and end in n-1
    print('x = ', x)

x =  80
x =  81
x =  82
x =  83
x =  84
x =  85
x =  86
x =  87
x =  88
x =  89
x =  90
x =  91
x =  92
x =  93
x =  94
x =  95
x =  96
x =  97
x =  98
x =  99

In [130]:
for x in range(80,100,5): #start from 0 and end in n-1
    print('x = ', x)

x =  80
x =  85
x =  90
x =  95

In [132]:
for x in range(11, 21): #start from 0 and end in n-1
    print('hello ', x)

hello  11
hello  12
hello  13
hello  14
hello  15
hello  16
hello  17
hello  18
hello  19
hello  20

In [133]:
for x in range(10,0,-1): #start from 0 and end in n-1
    print('hello ', x)

hello  10
hello  9
hello  8
hello  7
hello  6
hello  5
hello  4
hello  3
hello  2
hello  1

In [135]:
#while
i = 0
while i<10:
    print('hello',i)
    i = i+1

hello 0
hello 1
hello 2
hello 3
hello 4
hello 5
hello 6
hello 7
hello 8
hello 9