# Take values of the length & breadth of a rectangle from user input and check if it is square or not.

In [1]:
 length = int(input( "enter length of the rectangle:"))

enter length of the rectangle:6

In [2]:
 breadth = int(input("enter breadth of the rectengle:"))

enter breadth of the rectengle:6

In [3]:
if length == breadth:
    print("the rectengle is square")
else:
    print("the rectangle is not square")

the rectengle is square

# done by ploat number

In [4]:
 length = float(input( "enter length of the rectangle:"))

enter length of the rectangle:6

In [5]:
 breadth = float(input( "enter breadth of te rectangle:"))

enter breadth of te rectangle:6.1

In [6]:
if length == breadth:
    print("the rectengle is square")
else:
    print("the rectangle is not square")

the rectangle is not square

# 2-Take three integer values from the user and print the greatest among them.

In [7]:
num1 = float(input('enter the frist number:'))

enter the frist number:30

In [8]:
num2 = float(input('enter the second number:'))

enter the second number:20

In [9]:
num3 = float(input('enter the third number:'))

enter the third number:30.2

In [10]:
if (num1 >= num2) and (num1>= num3):
    greatest = num1
elif (num2 >= num1) and (num2>= num3):
    greatest = num2
else:
    greatest = num3
    
print('the greatest number is' , greatest)

the greatest number is 30.2

# if i want use int valu i can do

In [11]:
num1 = int(input('enter the frist number:'))

enter the frist number:200

In [12]:
num2 = int(input('enter the second number:'))

enter the second number:50

In [13]:
num3 = int(input('enter the third number:'))

enter the third number:201

In [14]:
if (num1 >= num2) and (num1>= num3):
    greatest = num1
elif (num2 >= num1) and (num2>= num3):
    greatest = num2
else:
    greatest = num3
    
print('the greatest number is' , greatest)

the greatest number is 201

# A student will not be allowed to sit in an exam if his/her attendance is less than 75%.

In [16]:
def can_sit_in_exam(attendance_percentage):
    if attendance_percentage >= 75:
        return True 
    else:
        return False 
    
attendance = float(input("Enter the student's attendence percentage:"))
if can_sit_in_exam( attendance):
    print("student can sit in exam.")
else:
    print("student can not sit in exam.")

Enter the student's attendence percentage:99
student can sit in exam.

# A school has the following rules for the grading system:
Below 25 – F, 25 to 44 – E, 45 to 49 – D, 50 to 59 – C, 60 to 79 – B, 80 to 89 - A, Above 90 - A+
Now, Ask the user to enter marks and print the corresponding grade.

In [17]:
def get_grade(marks):
    if marks < 25:
        return "F"
    elif marks >= 25 and marks <= 44:
        return "E"
    elif marks >= 45 and marks <=49:
        return "D"
    elif marks >= 50 and marks <=59:
        return "c"
    elif marks >= 60 and marks <= 79:
        return "B"
    elif marks >= 80 and marks <= 89:
        return "A"
    elif marks >= 90:
        return "A+"
    
marks = float(input("Enter the marks: "))
grade = get_grade(marks)
print("Grade is:",grade)

Enter the marks: 99
Grade is: A+

# Print the following pattern using for and while loop.
1 2 3 4 5 6 7
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4

In [18]:
for i in range(8, 4, -1):
    for j in range(1, i):
        print(j, end=" ")
    print()

1 2 3 4 5 6 7
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4

In [19]:
i = 8 
while i > 4:
    j = 1
    while j < i:
        print(j, end=" ")
        j += 1
    print()
    i -= 1

1 2 3 4 5 6 7
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4

# Display numbers from -100 to -10 using for loop.¶

In [20]:
for i in range(-100, -9):
    print(i, end=" ")

-100 -99 -98 -97 -96 -95 -94 -93 -92 -91 -90 -89 -88 -87 -86 -85 -84 -83 -82 -81 -80 -79 -78 -77 -76 -75 -74 -73 -72 -71 -70 -69 -68 -67 -66 -65 -64 -63 -62 -61 -60 -59 -58 -57 -56 -55 -54 -53 -52 -51 -50 -49 -48 -47 -46 -45 -44 -43 -42 -41 -40 -39 -38 -37 -36 -35 -34 -33 -32 -31 -30 -29 -28 -27 -26 -25 -24 -23 -22 -21 -20 -19 -18 -17 -16 -15 -14 -13 -12 -11 -10

# Write a program to sum all prime numbers within a range of 10 to 1000.

In [21]:
def is_prime(num):
    if num == 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True  

def sum_of_primes_in_range(start, end):
    prime_sum = 0
    for num in range(start, end +1):
        if is_prime(num):
            prime_sum += num
    return prime_sum

print(sum_of_primes_in_range(10, 1000))

76110

In [22]:
## Find the factorial of an n! (Hint, n=7: 7*6*5*4*3*2*1).

In [23]:
n = 7
factorial = 1

for i in range(1, n+1):
    factorial *= i

print(factorial)

5040

# Reverse a given integer number 27956240710

In [24]:
def reverse_integer(num):
    reversed_num = 0
    while num != 0:
        last_digit = num % 10
        num = num // 10
        reversed_num = reversed_num * 10 + last_digit
    return reversed_num

num = 27956240710
print(reverse_integer(num))

1704265972

In [25]:
'''# 10. Print the following pattern using for and while loop.
# # #
# # # #
# # #
# #'''

'# 10. Print the following pattern using for and while loop.\n# # #\n# # # #\n# # #\n# #'

In [26]:
for i in range (4):
    if i < 2:
        for j in range(3 + i):
            print("#", end=" ")
    else:
        for j in range(5 - i):
            print("#", end=" ")
    print("")

# # #
# # # #
# # #
# #

# Display the Fibonacci series of 15 elements using the for and while loop.

In [27]:
def fibonacci_series_for(n):
    a, b = 0, 1
    for i in range(n):
        print(a, end=" ")
        a, b = b, a + b
    print()

fibonacci_series_for(15)

# Using a while loop:
def fibonacci_series_while(n):
    a, b = 0, 1
    i = 0
    while i < n:
        print(a, end=" ")
        a, b = b, a + b
        i += 1
    print()

fibonacci_series_while(15)

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377
0 1 1 2 3 5 8 13 21 34 55 89 144 233 377

# Remove 2 and add 3 to the list and replace True with False.
Li = [1,3,5, [2,3], True]
Output = [1,3,5, [3,3], False]

In [28]:
Li = [1, 3, 5, [2, 3], True]
Li[3] = [3, 3]
Li[-1] = False

print(Li)

[1, 3, 5, [3, 3], False]

# 13. Find the intersection (common) of two sets.
S1 = {1,4,6,8}
S2 = {True, 1,2,10}

In [29]:
S1 = {1, 4, 6, 8}
S2 = {True, 1, 2, 10}

intersection = S1.intersection(S2)
print(intersection)

intersection = S1 & S2
print(intersection)

{True}
{True}

# Input a list from the user then Remove duplicates from a list and create a set and find the max
number. User_input = [1,9,3,4,5,200,54]

In [30]:
user_input = input("Enter a list of numbers, separated by spaces: ")
user_list = list(map(int, user_input.split()))

unique_set = set()
max_num = float("-inf")
for num in user_list:
    if num not in unique_set:
        unique_set.add(num)
        if num > max_num:
            max_num = num

print("Original list: ", user_list)
print("Set with duplicates removed: ", unique_set)
print("Maximum number in the set: ", max_num)

Enter a list of numbers, separated by spaces: 200
Original list:  [200]
Set with duplicates removed:  {200}
Maximum number in the set:  200

# Rename the key of a dictionary.
Dict = { "name": "Shakil", "age":27, "city": “Berlin”, "country": "Germany" }
Write a program to rename a key ‘country’ to a ‘region’ in the following dictionary.

In [31]:
Dict ={
    "name": "Shakil",
    "age": 27, "city": "Berlin",
    "country": "Germany"
     }

Dict["region"] = Dict.pop("country")

print(Dict)

{'name': 'Shakil', 'age': 27, 'city': 'Berlin', 'region': 'Germany'}

# Creating a data frame using the list.
num = [10,100,300] (column name is number)

In [32]:
import pandas as pd

num = [10, 100, 300]

df = pd.DataFrame({'number': num})
print(df)

   number
0      10
1     100
2     300

# Change the value of a key in a given dictionary.
Write a Python program to change ‘age’ to 28 in the following dictionary.
Dict = { "name": "Shakil", "age":27, "city": “Berlin”, "country": "Germany" }

In [33]:
Dict = {
        "name": "Shakil",
        "age": 27,
        "city":"Berlin", 
        "country": "Germany"
       }
Dict["age"] = 28

print(Dict)

{'name': 'Shakil', 'age': 28, 'city': 'Berlin', 'country': 'Germany'}